body {
  font-family: Helvetica, Sans-Serif;
  font-size: 1em;
  line-height: 1.25em;
  background-color: #eee;
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #006699;
}

a:hover,
a:active {
  text-decoration: underline;
  color: #006699;
}

img {
  border: none;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 { 
  font-size: 2em;
  line-height: 1.5em;
}

h2 { 
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 { 
  font-size: 1em;
  line-height: 1.5em;
}

