html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


/* ========== */
/* = COMMON = */
/* ========== */


a:link,
a:visited {
  text-decoration: none;
	color: #006699;
}

a:hover,
a:active {
	text-decoration: underline;
	color: #006699;
}

img {
	border: none;
	display: block;
}

p, ul, ol, dl {
	margin-bottom: 18px;
}

ul {
	list-style-type: disc;
	margin-left: 24px;
}

ol {
	list-style-type: decimal;
	margin-left: 24px;
}

blockquote {
	font-style: italic;
	padding: 0 24px;
	background: url(../images/quote.png) no-repeat top left;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

.intro p {
	font-size: 24px;
	line-height: 36px;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 { 
	font-size: 24px;
	line-height: 36px;
	margin: 46px 0 0 0;
}

h2 { 
	font-size: 36px;
	line-height: 54px;
	margin-bottom: 18px;
	border-bottom: 1px solid #ddd;
	padding: 18px 0;
}

h3 { 
	font-size: 12px;
	line-height: 18px;
}

form label {
	display: block;
}

form fieldset.submit {
	padding: 9px 0 18px 0;
}

.video {
	margin: 0 0 18px 0;
	padding: 0 0 18px 0;
	border-bottom: 1px solid #ddd;
}


/* ============= */
/* = STRUCTURE = */
/* ============= */


body {
	text-align: center;
	font-family: Arial, Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	line-height: 18px;
	background-color: #eee;
}

.container {
	margin: 0 auto;
	width: 960px;
	text-align: left;
}

.column-full {
	float: left;
	width: 100%;
	clear: both;
}

.column-twelve,
.column-eleven,
.column-ten,
.column-nine,
.column-eight,
.column-seven,
.column-six,
.column-five,
.column-four,
.column-three,
.column-two,
.column-one {
	float: left;
	padding: 0 10px;
}

.column-twelve {width: 940px;}
.column-eleven {width: 860px;}
.column-ten {width: 780px;}
.column-nine {width: 700px;}
.column-eight {width: 620px;}
.column-seven {width: 540px;}
.column-six {width: 460px;}
.column-five {width: 380px;}
.column-four {width: 300px;}
.column-three {width: 220px;}
.column-two {width: 140px;}
.column-one {width: 60px;}


/* ========= */
/* = STYLE = */
/* ========= */


#alert {
	background-color: #666;
}

#alert p {
	margin-bottom: 0;
	color: #ccc;
	font-weight: bold;
	font-size: 12px;
	line-height: 36px;
	text-align: center;
}

#alert p a {
	color: #fff;
}

#header {
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	font-weight: bold;
}

#header .column-full {
	
}

#header h1 {
	padding: 0;
	margin: 20px 0 0 0;
}

#header h1 a {
	display: block;
	width: 324px;
	height: 100px;
	background: #fff url(images/logo.gif) no-repeat top left;
}

#header h1 a span {
	display: none;
}

#header p {
	padding: 0;
	margin: 0;
	display: none;
}

#header ul {
	list-style: none;
	margin: 0 0 18px 0;
}

#header #companylinks ul {
	border-top: 5px solid #006699;
	padding: 18px 0 0 0;
}

#header #customerlinks ul {
	border-top: 5px solid #339933;
	padding: 18px 0 0 0;
}

#header #customerlinks ul a {
	color: #339933;
}

#content {
	background: #fff url(../images/pattern.png) repeat-x top;
	padding: 0 0 20px 0;
}

#content ul.subnav {
	list-style: none;
	margin-left: 0;
}

#content ul.subnav li {
	padding: 0 30px 8px 0;
	color: #999;
}

#content ul.subnav li.children {
	border-top: 1px solid #eee;
	padding-top: 9px;
}

#content .call-to-action {
  background-color: #f4f4f4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 15px 20px 15px 66px;
  margin: 0 0 10px 0;
}

#content #cta-learn.call-to-action {
  background: #f4f4f4 url(../images/icons/learn.png) no-repeat 17px 17px;
}

#content #cta-webinar.call-to-action {
  background: #f4f4f4 url(../images/icons/play.png) no-repeat 17px 17px;
}

#content #cta-whitepaper.call-to-action {
  background: #f4f4f4 url(../images/icons/download.png) no-repeat 17px 17px;
}

#content #cta-newsletter.call-to-action {
  background: #f4f4f4 url(../images/icons/newsletter.png) no-repeat 17px 17px;
}

#content .call-to-action p {
  margin: 0;
  padding: 0;
  color: #999;
}

#content #companypromo h3,
#content #customerpromo h3 {
	border-top: 1px solid #ddd;
	padding-top: 18px;
}

#content #companypromo .column-four h3,
#content #customerpromo .column-four h3 {
	padding-bottom: 8px;
}

#content #customerpromo a {
	color: #339933;
}

#content #customerpromo ul.newslinks {
	list-style: none;
	font-size: 18px;
	line-height: 36px;
	margin-left: 0;
	color: #666;
}

#content #productpromo {
	padding: 0 0 18px 0;
}

#content .entry h3 { 
	font-size: 18px;
	line-height: 36px;
	padding: 18px 0 0 0;
	border-top: 1px solid #eee;
}

#content .map-area {
	background-color: #ddd;
	padding: 10px 20px 20px 20px;
	margin: 0 0 20px 0;
}

#content .map-area p {
	padding: 10px 0 0 0;
	margin: 0;
	font-weight: bold;
	color: #666;
}

#content #productpromo h3 {
	font-size: 18px;
	line-height: 36px;
}

#content p.info {
	color: #999;
	font-style: italic;
}

#content p.rss-feed {
  background: transparent url(../images/feed-24x24.png) no-repeat left;
  margin: 0;
  padding: 10px 0 10px 30px;
}

#content #purchase {
	background-color: #e5f6ff;
	float: left;
	width: 100%;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 10px 0;
}

#content #purchase .purchase-form {
  float: left;
  width: 340px;
  background-color: #cef;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 0 10px 0;
}

#content #purchase .newsletter-form {
  float: left;
  width: 280px;
  padding: 10px 0 10px 0;
}

#content #purchase p {
	margin: 0;
	padding: 0 10px 10px 10px;
}

#content #purchase .discount p {
	border-top: 1px solid #e5f6ff;
	padding: 20px 0;
	margin: 0;
}

#content #button {
	padding: 10px 10px 0 10px;
	margin: 0;
	clear: both;
}

#content #required-1 #button span,
#content #required-2 #button a {
  display: block;
  line-height: 50px;
  float: left;
  padding: 0 20px;
  margin: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
}

#content #required-1 #button span {
  background: transparent url(../images/purchase-no.png) no-repeat top center;
  color: #EEE;
}

#content #required-2 #button a {
  background: transparent url(../images/purchase.png) no-repeat top center;
  color: #FFF;
}

#content #button form {
	margin: 0;
	padding: 0;
}

#content #purchase .description p {
  font-size: 18px;
  padding-bottom: 5px;
}

#content #purchase .description p.meta-discount {
  font-size: 12px;
  padding-bottom: 10px;
}

#content #purchase #requirements {
	padding: 10px 0 0 0;
	border-top: 1px solid #e5f6ff;
	margin: 0;
	clear: both;
}

#content #purchase .newsletter-form #requirements {
  border-top: 1px solid #fff;
}

#content #purchase #requirements p {
  margin: 0;
  padding: 0 10px 5px 10px;
}

#content #purchase #requirements form#formid {
	margin: 0;
	padding: 0 10px 5px 10px;
}

#content #purchase #requirements form#formid label {
  padding: 5px 0;
}

#content #purchase #requirements form#mc-embedded-subscribe-form {
	margin: 0;
	padding: 0 10px 5px 10px;
}

#content #purchase #requirements form#mc-embedded-subscribe-form label {
  padding: 0 0 5px 0;
}

#content #purchase #requirements form#mc-embedded-subscribe-form input#mce-EMAIL {
  width: 200px;
}

#content #purchase #requirements form#mc-embedded-subscribe-form input.btn {
  margin: 5px 0 0 0;
}

.mce_inline_error {
  color: #cc0000;
}

#mce-success-response {
  color: #339933;
}

#content .content-photo {
  float: left;
  border: 1px solid #ddd;
  padding: 4px;
  margin: 0 30px 30px 0;
}

#content .content-photo img {
  display: block;
}

#footer {
	background-color: #fff;
}

#footer h3 {
	border-top: 5px solid #ddd;
	padding-top: 18px;
}

#footer p span {
	color: #666;
}

#sitemap {
	border-top: 1px solid #ddd;
	padding-top: 18px;
}

#sitemap p {
	margin-bottom: 0;
	color: #aaa;
}

#sitemap p a {
	color: #666;
}

#sitemap p.credits {
	margin: 18px 0 36px 0;
}
