body {
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica, Sans-Serif;
  background-color: rgb(240,240,240);
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(0,100,155);
}

a:hover,
a:active {
  text-decoration: underline;
  color: rgb(0,100,155);
}

p {
  font-size: 1em;
  line-height: 1.25em;
}

h1 { 
  font-size: 2em;
  line-height: 1.5em;
  margin: 0;
  padding: .5em 0;
  font-weight: bold;
}

h2 { 
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  color: rgb(100,100,100);
}

h3 { 
  font-size: 1em;
  line-height: 1.5em;
}

#header {
  background-color: rgb(255,255,255);
  border-bottom: 1px solid rgb(220,220,220);
  float: left;
  width: 100%;
  padding: 1em 0 0 0;
}

#header .logo img {
  border: none;
  display: block;
  margin: 0 auto;
  width: 80%;
}

#header ul {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
  font-weight: bold;
}

#header #product-nav,
#header #company-nav {
  float: left;
  width: 50%;
}

#header #product-nav ul {
  border-top: 4px solid rgb(0,100,155);
  margin: 1em .5em 1em 1em;
}

#header #company-nav ul {
  border-top: 4px solid rgb(50,155,50);
  margin: 1em 1em 1em .5em;
}

#header #company-nav a {
  color: rgb(50,155,50);
}

#header ul li a {
  display: block;
  padding: .5em 0;
}

#content {
  background: rgb(255,255,255) url(images/pattern.png) repeat-x top;
  border-bottom: 1px solid rgb(220,220,220);
  padding: 0 1em;
  clear: both;
}

#content .call-to-action {
  background-color: rgb(245,245,245);
  background-repeat: no-repeat;
  background-position: 1em 1em;
  border: 1px solid rgb(235,235,235);
  border-radius: .5em;
  margin-bottom: 1em;
  padding: .5em 1em .5em 4em;
}

#content .call-to-action p {
  color: rgb(155,155,155);
  margin: .5em 0;
}

#content .call-to-action p a {
  font-weight: bold;
}

#content #cta-learn.call-to-action {
  background-image: url(images/learn.png);
}

#content #cta-webinar.call-to-action {
  background-image: url(images/webinar.png);
}

#content #cta-newsletter.call-to-action {
  background-image: url(images/newsletter.png);
}

#content .video-container {
  position: relative;
  padding-bottom: 60%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#content .video-container iframe,  
#content .video-container object,  
#content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#content ul.company-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

#content ul.company-nav a {
  color: rgb(50,155,50);
  display: block;
  padding: .5em 0;
}

#content ul.company-nav a.current {
  font-weight: bold;
}

#footer {
  padding: 0 1em;
  color: rgb(100,100,100);
}