/* The Basics */

body {
  -webkit-text-size-adjust: 100%;
  font-family: Helvetica, Sans-Serif;
  background-color: rgb(240,240,240);
  color: rgb(50,50,50);
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(0,100,155);
}

a:hover,
a:active {
  text-decoration: underline;
  color: rgb(0,100,155);
}

p {
  font-size: 1em;
  line-height: 1.375em;
  margin: 0 0 1em 0;
  padding: 0 1em;
}

ul {
  font-size: 1em;
  line-height: 1.375em;
  margin: 0 0 1em 0;
}

h1 { 
  font-size: 2em;
  line-height: 1.5em;
  margin: 0 .5em;
  padding: .5em 0;
  font-weight: bold;
  border-bottom: 1px solid rgb(220,220,220);
}

h2 { 
  font-size: 2em;
  line-height: 1.5em;
  margin: .5em;
  padding: 0;
  font-weight: normal;
}

h3 { 
  font-size: 1em;
  line-height: 1.5em;
  padding: 0 1em;
}


/* Navigation */


.product-nav,
.company-nav {
  float: left;
  width: 50%;
}

.product-nav ul,
.company-nav ul {
  list-style: none;
  margin: 0;
  padding: 1em 0;
  font-weight: bold;
}

.product-nav ul li,
.company-nav ul li {
  line-height: 1em;
}

.product-nav ul a,
.company-nav ul a {
  display: block;
  padding: .5em 1em;
}

.company-nav ul li.jump-to-top a {
  color: rgb(100,100,100);
}

.product-nav ul {
  border-top: .25em solid rgb(0,100,155);
}

.company-nav ul {
  border-top: .25em solid rgb(50,155,50);
}

.company-nav a {
  color: rgb(50,155,50);
}


/* Header Small */


#header-small {
  background-color: rgb(255,255,255);
  float: left;
  width: 100%;
}

#header-small .logo {
  float: left;
  width: 70%;
}

#header-small .logo a {
  display: block;
  padding: 1em;
}

#header-small .logo a img {
  display: block;
  height: 3em;
}

#header-small .menu {
  float: left;
  width: 30%;
}

#header-small .menu a {
  display: block;
  float: right;
  margin: 1em;
  background-color: rgb(155,155,155);
  border-radius: .25em;
  padding: 1em;
  color: rgb(255,255,255);
  line-height: 1em;
}


@media all and (min-width: 960px) {
  #header-small {
    display: none;
  }
}

/* Header Large */


#header-large {
  display: none;
  background-color: rgb(255,255,255);
  float: left;
  width: 100%;
}

@media all and (min-width: 960px) {
  #header-large {
    display: block;
  }
}

#header-large .logo {
  float: left;
  border-top: .25em solid rgb(255,255,255);
  width: 50%;
}

#header-large .logo a {
  display: block;
  float: left;
  padding: 2em 1em;
}

#header-large .logo a img {
  display: block;
  height: 6em;
}

#header-large .nav-wrapper {
  float: left;
  width: 50%;
}


/* Content */


#content {
  background: rgb(255,255,255) url(images/pattern.png) repeat-x top;
  border-top: 1px solid rgb(220,220,220);
  border-bottom: 1px solid rgb(255,255,255);
  clear: both;
}

@media all and (min-width: 960px) {
  #content {
    float: left;
    width: 100%;
    padding: 0;
  }
  #content-nav {
    float: left;
    width: 25%;
  }
  #content-area {
    float: left;
    width: 75%;
  }
}


/* Calls-to-action */


#content .call-to-action {
  background-color: rgb(255,250,220);
  background-repeat: no-repeat;
  background-position: 1em 1em;
  margin: 1em;
  padding: 1em 1em 1em 4em;
}

#content .call-to-action p {
  color: rgb(155,155,155);
  margin: 0;
  padding: 0
}

#content .call-to-action p a {
  font-weight: bold;
}

#content #cta-learn.call-to-action {
  background-image: url(images/learn.png);
}

#content #cta-webinar.call-to-action {
  background-image: url(images/webinar.png);
}

#content #cta-newsletter.call-to-action {
  background-image: url(images/newsletter.png);
}

#content #cta-download.call-to-action {
  background-image: url(images/file_extension_pdf.png);
}


/* Making Purchases */


#content .make-purchase {
  background-color: rgb(190,225,245);
  background-repeat: no-repeat;
  background-position: 1em 1em;
  margin: 1em;
  padding: 1em 0;
}

#content .make-purchase h3 {
  margin: 0 0 1em 0;
}

#content .make-purchase p.add-to-cart {
  margin: 0;
}

#content .make-purchase p.add-to-cart a {
  display: block;
  background-color: rgb(0,100,155);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(0,100,155)), color-stop(1, rgb(0,50,80)));
  border-radius: .25em;
  padding: 1em;
  color: rgb(255,255,255);
  text-align: center;
}


/* Content Navigation */


#content-nav ul {
  list-style: none;
  margin: 0;
  padding: 0 1em;
}

#content-nav ul li {
  border-bottom: 1px solid rgb(220,220,220);
}

#content-nav ul li a {
  display: block;
  padding: .5em 0;
}

#content-nav ul li a.current {
  font-weight: bold;
}

#content-nav .company-related li a {
  color: rgb(50,155,50);
}

@media all and (min-width: 960px) {
  #content-nav ul {
    margin: 1em 0 0 0;
  }
}


/* Home Page Promo Areas */


@media all and (min-width: 960px) {
  .promo-area {
    float: left;
    width: 50%;
  }
}


/* Photos */


#content .photo-wrapper {
  
}

#content .photo-wrapper span {
  display: block;
  background-color: rgb(220,220,220);
  padding: 0.5em;
  margin: 0 1em 1em 1em;
}

#content .photo-wrapper span img {
  display: block;
  width: 100%;
}

@media all and (min-width: 480px) {
  #content .photo-wrapper {
    width: 17em;
    float: left;
  }
  #content .photo-wrapper span {
    margin: 0 1em 1em 1em;
  }
}


/* Videos */

#content .video-wrapper {
  display: block;
  background-color: rgb(220,220,220);
  padding: 0.5em;
  margin: 1em;
}

@media all and (min-width: 960px) {
  #content .video-wrapper {
    margin: 1em 0 1em 1em;
  }
}

#content .video-container {
  position: relative;
  padding-bottom: 60%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

#content .video-container iframe,  
#content .video-container object,  
#content .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Footer */


#footer-nav {
  clear: both;
  float:left;
  width: 100%;
}

#footer {
  clear: both;
  padding: 1em 0;
  border-top: 1px solid rgb(220,220,220);
  color: rgb(155,155,155);
}

#footer p {
  margin: 0;
}

@media all and (min-width: 960px) {
  #footer-nav {
    display: none;
  }
}